<%= form_for @tstep do |f| %>
    <p>
      <%= f.label :expresult %><br>
    </p>

    <p>
      <%= f.text_field :envir %><br>
    </p>

    <p>
      <%= f.text_field :author %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>